/* Root Styles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

html {
  font-size: 50%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root Styles */

/* Body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--LightGrayishBlue);
  font-family: "Manrope", sans-serif;
  font-size: 1.625rem;
}
/* Body */

/* Content Wrapper */
.content-wrapper {
  padding: 3rem;
}
/* Content Wrapper */

/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40.875rem;
  border-radius: 1.5rem;
  box-shadow: 5px 15px 25px rgba(36, 25, 25, 0.05);
}
.card-img {
  height: 26rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  object-position: 0 0;
  height: 100%;
  width: 100%;
}

.card-text-wrapper {
  padding: 4rem;
  padding-bottom: 1.5rem;
  background-color: white;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.card-heading {
  margin-bottom: 2rem;
  color: var(--VeryDarkGrayishBlue);
  font-size: 2rem;
}

.card-paragraph {
  margin-bottom: 3rem;
  color: var(--DesaturatedDarkBlue);
}

.card-footer-wrapper {
  display: flex;
  align-items: center;
}

.card .author-img {
  width: 5rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.card .author-info {
  margin-right: auto;
}

.card .author-name {
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
}

.card .author-date {
  color: var(--GrayishBlue);
}

.card-btn {
  position: relative;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  background-color: #edf1fa;
  outline: none;
  cursor: pointer;
  z-index: 5;
}

.card-btn:hover {
  background-color: #c4c8cf;
}

.card-btn svg {
  height: auto;
  width: 2.5rem;
}

.card-btn svg * {
  fill: var(--DesaturatedDarkBlue);
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row;
    max-width: 90rem;
  }

  .card-heading {
    font-size: 2.5rem;
  }

  .card-text-wrapper {
    padding: 4rem 5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
  }

  .card-img {
    height: auto;
    flex-basis: 110%;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 0;
  }
}
/* Card */

/* PopUp */
.popup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  align-items: center;
  padding: 2.125rem 4rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--VeryDarkGrayishBlue);
  z-index: 3;
}

.popup-text {
  margin-right: 2rem;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}

.popup-icons {
  display: flex;
  align-items: center;
}

.popup-icons a:not(:last-child) {
  margin-right: 1.5rem;
}

.popup-icons a svg {
  height: 3rem;
  width: auto;
}

.popup-icons a svg * {
  fill: white;
}

.popup-icons a svg:hover * {
  fill: #c7ccd1;
}

.popup-icons a .twitter {
  height: 2.375rem;
}

@media only screen and (min-width: 1000px) {
  .popup {
    left: 75.85%;
    bottom: 11rem;
    width: auto;
    padding: 1.75rem 3.5rem;
    border-radius: 1rem;
  }
  .popup::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--VeryDarkGrayishBlue);
  }
}
/* PopUp */
